body {
    background: #F5F5F5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: 
        "title"
        "buttons"
        ".";
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    height: 100vh;
}

#title {
    grid-area: title;
    text-align: center;
    margin: 1em 0 .5em 0;
    font-size: 8em;
    color: #C26969;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: .05em;
}

#buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button {
    display: grid;
    width: 500px;
    height: 12vh;
    min-height: 100px;
    margin: .4em 0;
    align-self: center;
    color: white;
    align-content: center;
    font-size: 3.5em;
    transition: color .6s;
}

#firstB {
    background: #434343;
}

#secondB {
    background: #686565;
}

.button:hover {
    color: #C26969;
    cursor: pointer;
}

#title::first-letter {
    color: #686565;
}

#animation {
    position: absolute;
    top: 580px;
    right: 1px;
}

/*Ingame*/

#gameScreen {
    display: none;
}

#active {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: 
        "score"
        "board"
        "menu";
}

#score {
    grid-area: score;
    display: flex;
    width: 550px;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    color: #515151;
}

.players {
    margin-top: 1em;
    font-weight: 200;
    font-family: 'Source Sans Pro';
}

.players h2 {
    font-size: 6em;
    margin: 0;
}

.players h3 {
    font-size: 1.5em;
    margin: 0;
}

#board_section {
    display: flex;
    flex-direction: row;
    grid-area: board;
    justify-content: center;
}

#board {
    margin-bottom: 3em;
}

#footer {
    display: flex;
    flex-direction: row;
    grid-area: menu;
    background-color: #434343;
}

.gam_buttons {
    width: 75px;
    height: 75px;
    border-radius: .5em;
    background: white;
    margin: 2em 1.5em;
    cursor: pointer;
}

@media (min-width: 1000px) {
    #active {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 4fr 1fr;
        grid-template-areas: 
        "board score"
        "menu menu"
    }

    #score {
        flex-direction: column;
        width: 200px;
        height: 500px;
        justify-content: space-between;
    }

    #board_section {
        align-items: center;
    }

    .players h2 {
        font-size: 8em;
    }
    
    .players h3 {
        font-size: 2.5em;
    }

    #footer {
        justify-content: flex-end;
    }

    .gam_buttons {
        height: 100px;
        width: 100px;
    }
}

@media (min-width: 1368px) {
    body {
        grid-template-rows: 2fr 1fr 1fr;
    }

    #title {
        font-size: 10em;
    }

    #buttons {
        flex-direction: row;
    }

    .button {
        width: 49.5%;
        height: 15vh;
    }

    .button:first-child {
        margin-right: .3em;
    }
}

@media (min-width: 1500px) {
    #board {
        left: 320px;
    }
}